@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #222222;
}

.text-shein-red {
    color: #fa6338;
}

.bg-shein-red {
    background-color: #fa6338;
}

.text-shein-black {
    color: #222222;
}